package

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.crazymaker.springcloud.common.page.PageOut;
import lombok.extern.slf4j.Slf4j;
import org.apache.commons.collections4.MapUtils;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

${package}.${moduleName}.service.impl;
    ${package}.common.service.impl.SuperServiceImpl;
    ${package}.${moduleName}.model.${className};
    ${package}.${moduleName}.mapper.${className}Mapper;
    ${package}.${moduleName}.service.I${className}Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
public class ${className}ServiceImpl implements I${className}Service
{
    /**
     * 列表
     * @param params
     * @return
     */
    @Override
    public PageOut<${className}> findList(Map<String, Object> params)
    {
        Page<${className}> page = new Page<>(MapUtils.getInteger(params, "page"), MapUtils.getInteger(params, "limit"));
        List<${className}> list = baseMapper.findList(page, params);
        return PageOut.<${className}>builder().data(list).code(0).count(page.getTotal()).build();
    }
}
